.main {
    height: 100vh;
    background-color: var(--background-main);
}

.city-section {
    &__container {
        margin-bottom: -9vh;
        margin-left: -60%;

        @media (max-width: 768px) {
            margin-left: 0;
        }
    }
}
