.button {
    width: 100%;
    max-width: 280px;
    height: 50px;
    padding: 1px 6px;
    border: none;
    color: #fff;
    background-color: var(--button-main);

    &--secondary {
        background-color: var(--button-secondary);
    }

    &:hover {
        cursor: pointer;
    }
}
