.forecastSection {
    &__container {
        display: flex;
        gap: 1rem;
        box-shadow: var(--shadow);
        justify-content: space-between;
        max-width: 75%;
        min-width: 547px;
        width: fit-content;
        min-height: 299px;
        height: fit-content;
        margin: auto;
        padding: 2rem;
        @media (max-width: 768px) {
            flex-direction: column;
            max-width: 90%;
            min-width: 90%;
            min-height: unset;
        }
    }

    &__place-container {
        display: flex;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        box-shadow: var(--shadow);
        padding: 1rem;
    }
    &__place-name {
        font-size: 1.5rem;
        font-weight: 600;
    }
    &__place-hours {
        font-size: 2rem;
        font-weight: 900;
        margin: 1rem 0 0 0;
    }

    &__timestamps-title {
        font-size: 1.5rem;
        font-weight: 600;
    }

    &__timestamps-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    &__timestamps-cards-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;
    }
}
